{
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    [
      "@babel/plugin-syntax-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ]
  ],
  "presets": [
    "@babel/react",
    "@babel/env",
    "@babel/preset-es2015",
    "@babel/preset-stage-2",
    "@babel/preset-stage-0"
  ]
}
